<form method="POST">
  {{ form.hidden_tag() }}

  {{ form.task_name.label }}<br>
  {{ form.task_name(size=32) }}<br><br>

  {{ form.task_category.label }}<br>
  {{ form.task_category(size=32) }}<br><br>

  {{ form.start_time.label }}<br>
  {{ form.start_time(type='datetime-local',
  value=form.start_time.data.strftime('%Y-%m-%dT%H:%M') if form.start_time.data else '') }}
  <br><br>

  {{ form.due_time.label }}<br>
  {{ form.due_time(type='datetime-local',
  value=form.due_time.data.strftime('%Y-%m-%dT%H:%M') if form.due_time.data else '') }}<br><br>

  {{ form.task_description.label }}<br>
  {{ form.task_description(rows=4, cols=32) }}<br><br>

  {{ form.submit() }}
</form>
